.container{
  display: flex;
  justify-content: center;
  margin: 80px;
}

.big{
  background-color: #EAEAEA;
  color:gray;
}

h1,h2,h3{
  color:#65647C;
}
 

h1{
  text-decoration: underline 5px solid #00ABB3;
  font-size: 45px;
 }

 h2{
  font-size: 40px;
 }

 img{
  border-radius: 5px;
  box-shadow: 5px 5px;
  
 }

.btn{
  color: #00ABB3;
  padding: 15px;
  margin: 5px;
  border-color: gray;
  border-radius: 5px;
  box-shadow: 5px 5px;
  
}

.but{
  color: #00ABB3;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px;
  
}

